<div class="box col-6 offset-3 container">
    <h1>Edit Your Place:</h1>
    <%=s imple_form_for @place do |f| %>
        <%=f .input :name, class: 'input' %>
            <%=f .input :address, class: 'input' %>
                <%=f .input :description, class: 'input' %>
                    <br>
                    <%=f .submit 'Update', class: 'btn btn-edit' %>
                        <%=l ink_to 'Delete', place_path(@place), method: :delete, data: {confirm:
                        'Are you sure you want to delete?'}, class: 'btn btn-danger' %>
                            <div class='float-right'>
                                <%=l ink_to 'Cancel', root_path, class: 'btn btn-edit' %>
                            </div>
                            <% end %>
</div>